.mainContent {
    flex: 1;
    min-height: 100vh;
    padding: 0; /* Set all padding to zero */
  }
  
  /* Desktop styles */
  @media (min-width: 1024px) {
    .mainContent {
      padding: 0; /* Ensure all padding is zero on desktop */
    }
  }
  
  /* Mobile styles */
  @media (max-width: 3023px) {
    .mainContent {
      padding: 0; /* Ensure all padding is zero on mobile */
    }
  }
  